@model IEnumerable<StackFlow.Domain.Queries.ListStockReportQueryResult>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
  ViewBag.Title = "Ações";
  Layout = "_Layout";
}

</br>
</br>
<h2>Ações</h2>

@* <p>
@Html.ActionLink("Create New", "Create")
</p> *@
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

@if (Model.Count() > 0)
{
  <main class="container">
    <table class="table table-striped table-light table-sm table-hover">
      <thead class="bg-dark text-white">
        <tr>
          <th>
            @Html.DisplayNameFor(model => model.Name)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Symbol)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Price)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Sector)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Date)
          </th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          <tr class="table">
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Symbol)</td>
            <td>@Html.DisplayFor(modelItem => item.Price)</td>
            <td>@Html.DisplayFor(modelItem => item.Sector)</td>
            <td>@Html.DisplayFor(modelItem => item.Date)</td>
          </tr>
        }
      </tbody>
    </table>
  </main>
}
else
{
  <h2>Não há ações cadastradas.</h2>
}
